#main-contact-container {
    margin-top:8%;
    padding:2%;
    border-radius:25px;
    background-color: #B8D8D8;
}

.form-sides {
    display: inline-block;
    vertical-align: top;
    width:48%;
}

#contact-submit-button {
    text-align: center;
    width:20%;
}

input {
    border-radius:5px;
}