#polariod-container {
    margin-top: 5%;
    z-index: 5;
}

.indiv-polariod-container {
    width:15vw;
    height:45vh;
    float:left;
    margin-right:1%;
    margin-top:1%;
    margin-bottom:1%;
}