#polariod-container {
    margin-top: 5%;
    z-index: 5;
}

.indiv-polariod-container {
    width:15vw;
    height:45vh;
    float:left;
    margin-right:1%;
    margin-top:1%;
    margin-bottom:1%;
}

@media (max-width: 900px) {
    #polariod-container {
        margin-top: 22vh;
    }

    .indiv-polariod-container {
        min-width: 100%;
        height: 180vh; 
    }
}