@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

html {
    background:#201B1B;
    color:white;
}

#main-body-content {
    flex-grow: 1;
}

#layout-container {
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#left-side-content {
    display:inline-block;
    vertical-align: top;
    width:65vw;
    margin-right:4vw;
}

aside {
    display:inline-block;
    vertical-align: top;
    margin-top:4%;
}

#aside-bio {
    width:18vw;
    padding:2%;
}

#aside-content {
    margin-top:5%;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-bottom: 1px white solid;
}

#aside-text {
    font-family: 'Lora', serif;
    text-align: center;
}

#bio-container {
    padding: 6%;
    text-align: right
}

#footer-styles {
    background:#201B1B;
    left: 0;
    right:0;
    bottom:0;
    width:100%;
    min-height: 5vh;
    padding:1%;
    box-sizing: border-box;
    border-top:1px solid white;
}

footer {
    overflow:hidden;
}



ul {
    list-style-type: none;
}

.featured-blog-section {
    width:70%;
    margin-top:5%;
    padding:1%;
    margin-left:15%;
    border: 1px white solid;
}

#featured-blog-title {
    text-align:center;
}

.blog-posts-home-page {
    width:90%;
    margin-left:5%;
}

.featured-blog-section h3 {
    text-align: center;
    font-family: 'Lora', serif;
}

.featured-blog-section a {
    color: white;
    text-decoration: none;
}

.featured-blog-section a:hover {
    color: white
}

.featured-blog-section a:visited {
    color: white
} 

.social-icon {
    float:right;
    margin-right:3%;
    font-size: 2rem;
}

#one-social-icon {
    color: #B8D8D8;
}

#two-social-icon {
    color: #F4DBD8;
}

#three-social-icon {
    color: #D6E3D7;
}

#four-social-icon {
    color: #9F8F97;
}

#social-media-container {
    text-align: right;
    margin-bottom:5%;
}

@media (max-width: 900px) {
    #aside-bio {
        display: none;
    }

    #left-side-content {
        
        width:90vw;
    }

    #layout-container {
        margin: 2% 2%;
    }

    #home-container {
        margin-top:20vh;
    }

    #right-home-container {
        width:100%;
        margin-left:2%;
        text-align: left;
        display: inline-block;
        vertical-align: top;
    }

    #left-home-container {
        width:100%;
    }
}