@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

#nav-bar-holder {
    width:100%;
    left:0;
    right:0;
    top:0;
    padding:1%;
    position: fixed;
    background-color: #201B1B;
    z-index:10;
    border-bottom:1px solid white;
}

#site-title {
    margin-top:12%;
    font-size: 1.4em;
}

#list-styles {
    margin-top:2%;
    list-style-type:none;
}

#nav-list {
    min-width:40%;
    display:inline-block;
}

.nav-link-styles {
    font-family: 'Lora', serif;
    text-decoration: none;
    float:left;
    margin-right:2%;
    color:white;
}

.nav-link-styles:hover {
    font-weight:bold;
}

.active {
    color:white;
    font-weight:bold;
}

#nav-link-style-title {
    text-decoration: none;
    color: black;
}

#logo-container {
    text-align:center;
}

#top-logo {
    font-family: 'Lora', serif;

}

@media (max-width: 900px) {
    #nav-list-left {
        width:90%;
        text-align: center;
    }
    #nav-list-right {
        width:100%;
        font-size:.7em;
        text-align: center;
    }
}